# core dependencies
Click==7.1.2
discord.py==1.6.0
exchange_calendars==3.0.2
grpcio==1.36.1
grpcio-tools==1.36.1
jsonlines==2.0.0
korean_lunar_calendar==0.2.1
numpy==1.20.2 # downgrade to 1.19.5 if some compatibility issues happen
openpyxl==3.0.7
pandas==1.2.3
pendulum==2.1.2
protobuf==3.15.6
pyhocon==0.3.57
PySide2==5.15.2
pytz==2021.1
qtpy==1.9.0
requests==2.25.1
Rx==3.1.1
schedule==1.0.0
Send2Trash==1.5.0
SQLAlchemy==1.4.3
tabulate==0.8.9
tqdm==4.59.0
tzlocal==2.1
wrapt==1.12.1

# dependencies for windows environment
pywin32==300;sys_platform=='win32'
pywinauto==0.6.8;sys_platform=='win32'

# dependencies when using backtrader related features
backtrader==1.9.76.123
matplotlib==3.4.0

# dependencies when using pyqt5 related features
PyQt5==5.15.4
