# core dependencies for testing/documentation
astroid==2.5
bump2version==1.0.1
Click==7.1.2
codecov==2.1.11
coverage==5.4
flake8==3.8.4
pip==21.0.1
Pygments==2.8.0
pytest==6.2.2
pytest-cov==2.11.1
pytest-xdist==2.2.1
Sphinx==3.5.1
sphinx-autoapi==1.7.0
tox==3.22.0
twine==3.3.0
watchdog==2.0.0
wheel==0.36.2
