# core dependencies
Click==7.1.2
PySide2==5.15.1
grpcio==1.33.2
grpcio-tools==1.33.2
protobuf==3.13.0
pyhocon==0.3.57
discord.py==1.5.1
schedule==0.6.0
tabulate==0.8.7
tqdm==4.51.0
wrapt==1.12.1
numpy==1.19.3
pandas==1.1.4
xlrd==1.2.0
SQLAlchemy==1.3.20
Send2Trash==1.5.0
pendulum==2.1.2
pytz==2020.4
tzlocal==2.1
rx==3.1.1
trading-calendars==2.0.0
korean_lunar_calendar==0.2.1

# dependencies for windows environment
pywin32==228;sys_platform=='win32'
pywinauto==0.6.8;sys_platform=='win32'

# dependencies when using backtrader related features
backtrader==1.9.76.123
matplotlib==3.2.2

# dependencies when using pyqt5 related features
PyQt5==5.15.1
