@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

code {
    vertical-align: text-bottom;
}

dl dd {
    margin-left: 0;
}

div.document {
    width: 100%;
    max-width: 1200px;
}

/* Jupyter notebook related overrides */

:root {
    --jp-ui-font-family: 'Noto Serif KR', Georgia, 'Times New Roman', Times, serif !important;
    --jp-content-font-family: 'Noto Serif KR', Georgia, 'Times New Roman', Times, serif !important;
    --jp-code-font-family: 'D2Coding', 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
    --jp-content-font-size1: 17px !important;
    --jp-code-font-size: 0.9em !important;
}

.jp-Cell .highlight {
    background: transparent;
}

.jp-Cell pre {
    background: transparent;
}

.jp-Cell .highlight pre {
    margin: 1em 0px;
}

.jp-Notebook {
    padding: 0 !important;
    font-size: var(--jp-content-font-size1);
}

.jp-InputPrompt {
    font-size: 0.8em !important;
}

.jp-OutputPrompt {
    font-size: 0.8em !important;
}

body {
    letter-spacing: normal !important;
    line-height: normal !important;
}

/* media overrides */

@media screen and (max-width: 875px) {
    div.sphinxsidebar {
        width: calc(100% + 20px);
        margin: -20px 0 20px -30px;
    }
/*
    div.body {
        min-width: 0;
    }
*/
    .jp-Notebook {
        padding: 20px 30px !important;
    }
}

@media screen and (max-width: 870px) {
    ul {
        margin-left: 30px;
    }
}